
input[type=text], select, textarea, input[type=date], input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:black;
}



.col-100 {
  float: left;
  width: 12%;
  margin-top: 6px;
}


.col-100 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.image{
  max-width: 250px;
  min-width: 100px;
}


